@tailwind base;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #40A4DC;
}

*::-webkit-scrollbar-thumb {
  background-color: #40A4DC;
  border: 3px solid #333333;
}

@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: kalpurush;
  src: url(../src/assets/fonts/kalpurush.ttf);
}


body {

  background-color: #F6F6F6;
  margin: 0;
  font-family: kalpurush, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max-width {
  max-width: 1130px;
  margin: 0 auto;
}